/*           */
/* Variables */
/*           */

// $primary-color: #446178;
$primary-color: #00695C;

// $primary-button-color: #446178;
$primary-button-color: #00796B;

// $form-focus-color: #337AB7;
$form-focus-color: #00897B;
$form-error-color: #D9534F !default;
$form-transition-speed: 0.28s !default;

$base-lr-gutter: 24px;

$bmd-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$bmd-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$bmd-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$bmd-animation-curve-default: $bmd-animation-curve-fast-out-slow-in !default;

@mixin undo-bs-tab-focus() {
  // clear out the tab-focus() from BS
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      //@include tab-focus();
      outline: 0;
    }
  }
}
