include LICENSE
include README.md
include README.rst
recursive-include budget/static *
recursive-include budget/templates *
recursive-include budget/fixtures *
recursive-include budget/migrations *
recursive-include budget/staticapp/gulp *
recursive-include budget/staticapp/src *
recursive-include budget/staticapp/vendored *
include editorial_staff/staticapp/gulpfile.js
include editorial_staff/staticapp/package.json
include editorial_staff/staticapp/package-lock.json
include editorial_staff/staticapp/settings.json
