<div class="content-header">{% if config.boundData %}{{ config.boundData.slug }}{% else %}New additional content{% endif %}<i class="fa fa-times delete-additional" data-confirm=""></i></div>

<input type="hidden" id="{{ config.formID }}_id" class="field-id" name="{{ config.formID }}_id" value="{{ config.boundData.id }}" data-form="{{ config.formID }}">

<div class="row">
    <div class="medium-6 columns form-group">
        <input id="{{ config.formID }}_slug" class="field-slug" name="{{ config.formID }}_slug" data-form="{{ config.formID }}" type="text" {% if config.boundData %}data-original-value="{{ config.boundData.slug }}" {% endif %}value="{% if config.boundData %}{{ config.boundData.slug }}{% endif %}" required="">
        <label for="{{ config.formID }}_slug" class="control-label">Slug<span class="required-marker">*</span></label>
        <i class="bar"></i>
        <div class="form-help">{% if config.boundData %}{{ slugMessages.successfullyUniqueValue }}{% else %}{{ slugMessages.defaultMessage }}{% endif %}</div>

    </div>
    <div class="medium-6 columns"></div>
</div>

<div class="row">
    <div class="medium-4 columns form-group">
        <input id="{{ config.formID }}_type" class="field-type to-selectize" name="{{ config.formID }}_type" type="text" placeholder="Choose an option" data-form="{{ config.formID }}" value="{% if config.boundData %}{{ config.boundData.type }}{% endif %}" required="" />
        <label for="{{ config.formID }}_type" class="control-label">Type<span class="required-marker">*</span></label>
        <i class="bar"></i>
    </div>
    <div class="medium-2 columns form-group length-group"{% if config.boundData %}{% if config.boundData.type == 'text' %} style="display: block;"{% endif %}{% endif %}>
        <input id="{{ config.formID }}_length" class="field-length form-select-word-count" name="{{ config.formID }}_length" data-form="{{ config.formID }}" type="number" value="{% if config.boundData %}{% if config.boundData.length %}{{ formattedLength }}{% endif %}{% endif %}" required="" {% if config.boundData %}{% if config.boundData.type != 'text' %}disabled="" {% endif %}{% else %}disabled="" {% endif %}/>
        <label for="{{ config.formID }}_length" class="control-label">Word count</label>
        <i class="bar"></i>
    </div>
    <div class="medium-6 columns"></div>
</div>

<div class="row">
    <!--  -->
    <div class="medium-12 columns form-group">
        <div class="expanding-holder{% if config.boundData %}{% if config.boundData.budgetLine|length > 0 %} has-value{% endif %}{% endif %}">
            <textarea id="{{ config.formID }}_budgetline" class="field-budgetline" name="{{ config.formID }}_budgetline" data-form="{{ config.formID }}" rows="1" required="">{% if config.boundData %}{{ config.boundData.budgetLine }}{% endif %}</textarea>
        </div>
        <label for="{{ config.formID }}_budgetline" class="control-label">Budget line<span class="required-marker">*</span></label>
        <i class="bar"></i>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns form-group set-authors">
        <input id="{{ config.formID }}_authors" class="field-authors to-selectize staff-select reporter" name="{{ config.formID }}_authors" data-form="{{ config.formID }}" type="text" value="{% if config.boundData %}{% for author in config.boundData.authors %}{{ author.email }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}" />
        <label for="{{ config.formID }}_authors" class="control-label">Author(s)<span class="required-marker">*</span></label>
        <i class="bar"></i>
    </div>
    <div class="medium-6 columns form-group set-editors">
        <input id="{{ config.formID }}_editors" class="field-editors to-selectize staff-select editor" name="{{ config.formID }}_editors" data-form="{{ config.formID }}" type="text" value="{% if config.boundData %}{% if config.boundData.editors %}{% for editor in config.boundData.editors %}{{ editor.email }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}{% endif %}" />
        <label for="{{ config.formID }}_editors" class="control-label">Editor(s)</label>
        <i class="bar"></i>
    </div>
</div>