<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="https://s3.amazonaws.com/datalab-assets/static/foiatracker/foia-tracker-logo.svg" alt="FOIAtracker logo">
        </a>
      </div>
      <p class="navbar-text navbar-right">
         <i class="fa fa-lock"></i>
      </p>
    </div>
  </nav>
  <div id="snackbar">


  </div>

<div class="container">
  <div class="page-header">
    <h1>All records requests</h1>
  </div>

    <div class="panel-with-actions">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2>FOIA request CBP-2016-030639 on credible fear for minors</h2>

                <p><i class="fa fa-circle status-pending"></i> Awaiting agency response</p>

            </div>
            <div class="col-xs-12 col-sm-4">
              <p class="text-label text-right">From:</strong> Solis</p>
              <p class="text-label text-right">To:</strong> foia@postbox.dallasnews.com</p>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <i class="fa fa-calendar"></i> April 22, 2016


              <span class="pull-right hidden-xs"><i class="fa fa-plus"></i> 1 update</span>


        </div>
      </div>
      <div class="panel-actions">
        <a class="btn btn-primary" href="/foiatracker/request/5/"><i class="fa fa-edit"></i></a>
        <a class="btn btn-primary" href="/foiatracker/event/add/?foia=5"><i class="fa fa-plus"></i></a>
      </div>
    </div>

</div>

<div class="text-center">


    <ul class="pagination">

        <li class="prev disabled">
            <a href="#">&laquo;</a>
        </li>




            <li class="active">
                <a href="#">1</a>
            </li>




        <li class="last disabled">
            <a href="#">&raquo;</a>
        </li>

    </ul>



</div>