<div class="center-content">
    <div class="edit-bar">
        <div class="button-holder">
            <div class="delete-trigger button flat-button"><span>Delete</span></div>
            <div class="primary-action save-trigger button flat-button"><span>Save</span></div>
            <div class="save-and-continue-editing-trigger button flat-button show-for-medium"><span>Save &amp; continue editing</span></div>
            <div class="clearer"></div>
        </div>
    </div>
    <div class="single-page">
        <div class="package-header">
            <div class="color-dot"></div>
            <h1>Add content</h1>
        </div>
        <form id="package-form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrfToken }}">

            <div class="error-message"></div>

            <div class="row">
                <div class="medium-6 columns form-group">
                    <input id="hub" name="hub" class="to-selectize" type="text" placeholder="Choose an option" autocomplete="off" autocorrect="off" data-form="package" required="" isRequired="true" value="" />
                    <label for="hub" class="control-label">Hub<span class="required-marker">*</span></label>
                    <i class="bar"></i>
                    <div class="form-help"></div>
                </div>
                <div class="medium-3 columns form-group">
                    <input id="type" name="type" class="to-selectize" type="text" placeholder="Choose an option" autocomplete="off" autocorrect="off" data-form="primary" value="" required="" isRequired="true" />
                    <label for="type" class="control-label">Type<span class="required-marker">*</span></label>
                    <i class="bar"></i>
                    <div class="form-help"></div>
                </div>
                <div class="medium-3 columns form-group variable-attribute-group">
                    <div class="length-group variable-attribute">
                        <input id="length" name="length" data-form="primary" class="form-select-word-count" type="number" autocomplete="off" autocorrect="off" value="" required="" />
                        <label for="length" class="control-label">Word count</label>
                        <i class="bar"></i>
                    </div>

                    <div class="request-link-group variable-attribute">
                        <div class="request-button-holder">
                            <div class="request-link button flat-button"><a href="{{ visualsRequestURL }}" target="_blank"><span>Request visuals</span></a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-3 columns form-group">
                    <input id="pub_date_resolution" name="pub_date_resolution" class="to-selectize" type="text" placeholder="Choose an option" autocomplete="off" autocorrect="off" data-form="package" required="" isRequired="true" />
                    <label for="pub_date_resolution" class="control-label">Time format<span class="required-marker">*</span></label>
                    <i class="bar"></i>
                    <div class="form-help"></div>
                </div>
                <div class="medium-5 columns form-group pub-date-group">
                    <input id="pub_date" name="pub_date" data-form="package" type="text" autocomplete="off" autocorrect="off" required="" isRequired="true" value="" />
                    <label for="pub_date" class="control-label">Published date<span class="required-marker">*</span></label>
                    <i class="bar"></i>
                    <div class="form-help"></div>
                </div>
                <div class="medium-4 columns form-group pub-time-group">
                    <input id="pub_time" name="pub_time" data-form="package" type="text" autocomplete="off" autocorrect="off" value="" />
                    <label for="pub_time" class="control-label">Published time&thinsp;*</label>
                    <i class="bar"></i>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns form-group">
                    <div class="slug-group-holder">
                        <div class="hub-slug-value">hub.</div>
                        <div class="keyword-group">
                            <div class="keyword-value">keyword</div>
                            <input id="slug_key" name="slug_key" data-form="primary" type="text" placeholder="keyword" autocomplete="off" value="" required="" isRequired="true" />
                        </div>
                        <div class="formatted-date-value">.date</div>
                        <div class="clearer"></div>
                    </div>
                    <label for="slug_key" class="control-label">Slug<span class="required-marker">*</span></label>
                    <i class="bar"></i>
                    <div class="form-help"></div>
                </div>
                <div class="medium-6 columns"></div>
            </div>

            <div class="row">
                <!--  -->
                <div class="medium-12 columns form-group">
                    <div id="budget_line_holder" class="expanding-holder">
                        <textarea id="budget_line" name="budget_line" data-form="primary" rows="1" required="" isRequired="true" ></textarea>
                        <pre class="budget-spacer"><span></span><br></pre>
                    </div>
                    <label for="budget_line" class="control-label">Budget line<span class="required-marker">*</span></label>
                    <i class="bar"></i>
                    <div class="form-help"></div>
                </div>
            </div>

            <div class="row">
                <div class="medium-6 columns form-group set-authors">
                    <input id="authors" name="authors" class="to-selectize staff-select reporter" data-form="primary" type="text" isRequired="true" value="" />
                    <label for="authors" class="control-label">Author(s)<span class="required-marker">*</span></label>
                    <i class="bar"></i>
                    <div class="form-help"></div>
                </div>
                <div class="medium-6 columns form-group set-editors">
                    <input id="editors" name="editors" class="to-selectize staff-select editor" data-form="primary" type="text" value="" />
                    <label for="editors" class="control-label">Editor(s)</label>
                    <i class="bar"></i>
                </div>
            </div>

            <div class="row collapsible-row-header" data-expand-target="headlines">
                <h4>Headlines</h4>
            </div>

            <div class="row can-collapse" data-expand-receiver="headlines">
                <div id="headline-fields" class="collapsable-inner">
                    <div class="extra-spacing"></div>

                    <div class="hl-variable-group" data-mode="other">
                        <div class="medium-6 columns form-group">
                            <input id="headline1" name="headline1" data-form="package" type="text" value="" required="" />
                            <label for="headline1" class="control-label">Headline #1</label>
                            <i class="bar"></i>
                        </div>

                        <div class="medium-6 columns form-group">
                            <input id="headline2" name="headline2" data-form="package" type="text" value="" required="">
                            <label for="headline2" class="control-label">Headline #2</label>
                            <i class="bar"></i>
                        </div>

                        <div class="medium-6 columns form-group">
                            <input id="headline3" name="headline3" data-form="package" type="text" value="" required="" />
                            <label for="headline3" class="control-label">Headline #3</label>
                            <i class="bar"></i>
                        </div>

                        <div class="medium-6 columns form-group">
                            <input id="headline4" name="headline4" data-form="package" type="text" value="" required="" />
                            <label for="headline4" class="control-label">Headline #4</label>
                            <i class="bar"></i>
                        </div>

                        <div class="clearer"></div>
                    </div>

                    <div class="hl-variable-group medium-12 columns form-radio" data-mode="voting">
                        <div class="radio">
                            <label>
                                <input id="headlineRadio1" name="headlineChoices" data-form="package" type="radio" value="" /><i class="helper"></i><span class="radio-label"> <span class="vote-count">(<span class="vote-total">0</span><span class="percent-sign">%</span>)</span></span>
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input id="headlineRadio2" name="headlineChoices" data-form="package" type="radio" value="" /><i class="helper"></i><span class="radio-label"> <span class="vote-count">(<span class="vote-total">0</span><span class="percent-sign">%</span>)</span>
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input id="headlineRadio3" name="headlineChoices" data-form="package" type="radio" value="" /><i class="helper"></i><span class="radio-label"> <span class="vote-count">(<span class="vote-total">0</span><span class="percent-sign">%</span>)</span>
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input id="headlineRadio4" name="headlineChoices" data-form="package" type="radio" value="" /><i class="helper"></i><span class="radio-label"> <span class="vote-count">(<span class="vote-total">0</span><span class="percent-sign">%</span>)</span>
                            </label>
                        </div>

                        <div class="clearer"></div>
                    </div>

                    <div id="vote-submission-toggle" class="medium-12 columns checkbox">
                        <label>
                            <input id="headlinesReady" name="headlinesReady" data-form="package" type="checkbox" value="ready" /><i class="helper"></i>Submit headlines to a vote
                            <!-- <input type="checkbox" checked="" /><i class="helper"></i>Submit headlines to a vote -->
                        </label>
                    </div>

                    <div class="clearer"></div>
                </div>
            </div>

            <div class="row collapsible-row-header" data-expand-target="production-notes">
                <h4>Production notes</h4>
            </div>

            <div class="row can-collapse" data-expand-receiver="production-notes">
                <div class="collapsable-inner">
                    <div class="medium-12 columns notes-reveal form-group">
                        <div id="notes-quill" class="quill-holder">
                            <div class="toolbar-holder">
                                <div class="ql-format-group">
                                    <div class="ql-format-button ql-bold">
                                        <i class="fa fa-bold"></i>
                                        <span class="ql-button-explainer">Bold</span>
                                    </div>

                                    <div class="ql-format-button ql-italic">
                                        <i class="fa fa-italic"></i>
                                        <span class="ql-button-explainer">Italic</span>
                                    </div>

                                    <div class="ql-format-button ql-underline">
                                        <i class="fa fa-underline"></i>
                                        <span class="ql-button-explainer">Underline</span>
                                    </div>

                                    <div class="ql-format-button ql-strike">
                                        <i class="fa fa-strikethrough"></i>
                                        <span class="ql-button-explainer">Strikethrough</span>
                                    </div>

                                    <div class="ql-format-separator"></div>
                                </div>
                                <div class="ql-format-group dropdowns-group">
                                    <select class="ql-size">
                                        <option value="8px">8px</option>
                                        <option value="9px">9px</option>
                                        <option value="10px">10px</option>
                                        <option value="11px">11px</option>
                                        <option value="12px" selected="">12px</option>
                                        <option value="13px">13px</option>
                                        <option value="14px">14px</option>
                                        <option value="16px">16px</option>
                                        <option value="18px">18px</option>
                                        <option value="24px">24px</option>
                                        <option value="30px">30px</option>
                                        <option value="36px">36px</option>
                                    </select>

                                    <div class="ql-button-explainer">Font size</div>

                                    <select class="ql-align">
                                        <option value="left" label="Left" selected="">
                                            <i class="fa fa-align-left"></i>
                                        </option>
                                        <option value="center" label="Center">
                                            <i class="fa fa-align-center"></i>
                                        </option>
                                        <option value="right" label="Right">
                                            <i class="fa fa-align-right"></i>
                                        </option>
                                        <option value="justify" label="Justify">
                                            <i class="fa fa-align-justify"></i>
                                        </option>
                                    </select>

                                    <div class="ql-button-explainer">Text alignment</div>


                                    <div class="ql-format-separator last-separator"></div>

                                    <div class="clearer"></div>
                                </div>

                                <div class="ql-format-group last-format-group">
                                    <div class="ql-format-button ql-bullet">
                                        <i class="fa fa-list-ul"></i>
                                        <span class="ql-button-explainer">Bulleted list</span>
                                    </div>

                                    <div class="ql-format-button ql-list">
                                        <i class="fa fa-list-ol"></i>
                                        <span class="ql-button-explainer">Numbered list</span>
                                    </div>

                                    <div class="ql-format-button ql-link">
                                        <i class="fa fa-link"></i>
                                        <span class="ql-button-explainer">Link</span>
                                    </div>

                                    <div class="clearer"></div>
                                </div>

                                <div class="clearer"></div>
                            </div>

                            <div class="text-holder"></div>
                        </div>
                    </div>
                    <div class="clearer"></div>
                </div>
            </div>

            <div class="row collapsible-row-header" data-expand-target="publishing-details">
                <h4>Publishing details</h4>
            </div>

            <div class="row can-collapse" data-expand-receiver="publishing-details">
                <div class="collapsable-inner">
                    <div class="extra-spacing"></div>

                    <div class="medium-12 columns form-group">
                        <input id="url" name="url" data-form="package" type="text" value="" />
                        <label for="url" class="control-label">URL</label>
                        <i class="bar"></i>
                    </div>

                    <div class="medium-6 columns form-group run-date-group">
                        <input id="print_run_date" name="print_run_date" data-form="package" type="text" id="printRunDate" required="" value="" />
                        <label for="pub_date" class="control-label">Print run date</label>
                        <i class="bar"></i>
                    </div>
                    <div class="medium-12 columns checkbox pitched-print-placements">
                        <h5>Print placements</h5>
                        <div class="placement-inputs"></div>
                    </div>

                    <div class="medium-12 columns checkbox">
                        <label>
                            <input id="is_placement_finalized" name="is_placement_finalized" data-form="package" type="checkbox" value="finalized" /><i class="helper"></i>Print placement finalized?
                        </label>
                    </div>

                    <div class="clearer"></div>
                </div>
            </div>
        </form>
    </div>

    <div class="single-page">
        <div id="additional-forms">
            <div class="section-header">
                <h4 class="final-header">Additional content <span class="add-additional-content-trigger button"><i class="fa fa-plus"></i><span>&thinsp;Add<span class="show-for-medium">&nbsp;content</span></span></span></h4>
            </div>
        </div>

        <div id="additional-content-children" class="additional-content">
        </div>

        <div class="bottom-button-holder">
            <div class="add-additional-content-trigger button"><i class="fa fa-plus"></i><span>&thinsp;Add content</span></div>
        </div>
    </div>
</div>