<div class="package-sheet{% if primaryIsExpanded %} expanded{% endif %}" content-id="{{ packageObj.id }}" content-primary-id="{{ packageObj.primaryContent.id }}" data-hub="{{ packageObj.hub }}" data-vertical="{{ verticalSlug }}" data-all-people="{{ allPeople }}" data-full-text="" ready="{{ packageObj.primaryContent.isReady }}">
    <div class="minimal-card">
        <div class="slug-bar row">
            <div class="column small-6 medium-8 large-8">
                <div class="color-dot" style="background-color: {{ hubDotColor }};"><span class="ready-check"><i class="fa fa-check"></i></span></div>
                <h1 class="slug-headline-holder {% if leadingHeadline %}has-leading-headline{% endif %}">{% if leadingHeadline %}&ldquo;{{ leadingHeadline }}&rdquo;{% else %}{{ packageObj.primaryContent.slug }}{% endif %}</h1>
                <h2>{{ packageObj.pubDate.formatted }}{% if leadingHeadline %} ({{ packageObj.primaryContent.slug }}){% endif %}</h2>
            </div>
            <div class="author-info column small-5 medium-3 large-3">
                {% if packageObj.primaryContent.authors|length > 0 %}
                <h3>{% if packageObj.primaryContent.authors|length == 1 %}Author{% else %}Authors{% endif %}: {% for author in packageObj.primaryContent.authors %}{{ author.formattedName }}{% if not loop.last %}, {% endif %}{% endfor %}</h3>
                {% endif %}
                {% if packageObj.primaryContent.editors|length > 0 %}
                <h3 class="additional-info-line">{% if packageObj.primaryContent.editors|length == 1 %}Editor{% else %}Editors{% endif %}: {% for editor in packageObj.primaryContent.editors %}{{ editor.formattedName }}{% if not loop.last %}, {% endif %}{% endfor %}</h3>
                {% endif %}
            </div>
            <div class="action-buttons column small-1 medium-1 large-1 text-center">
                <a href="/#edit/{{ packageObj.id }}/">
                    <div class="edit action-button">
                        <i class="fa fa-pencil-square-o"></i>
                        <span class="hover-info">Edit</span>
                    </div>
                </a>
                <div class="mark-ready action-button">
                    <i class="fa fa-check"></i>
                    <span class="hover-info">Mark ready</span>
                </div>
                <div class="subscribe action-button">
                    <i class="fa fa-slack"></i>
                    <span class="hover-info">Subscribe</span>
                </div>
            </div>
        </div>
        <div class="additional-package-info row">
            <div class="column small-6 medium-6 large-6 text-left">
                <div class="additional-info-line"><i class="{{ primaryTypeMeta.icon }}"></i>&thinsp;&nbsp;{{ primaryTypeMeta.verboseName }}{% if packageObj.primaryContent.length %} ({{ packageObj.primaryContent.length }} inches){% endif %}</div>
            </div>
            <div class="related-types column small-5 medium-5 large-5 text-right"><div class="additional-info-line">{% if additionalItemTypes|length > 0 %}Includes {% for type in additionalItemTypes %}<i class="{{ type.icon }}"></i>{% endfor %}{% endif %}</div>
            </div>
            <div class="action-buttons column small-1 medium-1 large-1 text-center">
                <div class="expand-package action-button">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-level-up"></i>
                    <span class="hover-info">More about this item</span>
                </div>
            </div>
        </div>
    </div>
    <div class="primary-description row  small-11 medium-11 large-11 float-left">
        <div class="budget-line collapsed column small-12 medium-9 large-9">
            <div class="clearer"></div>
            <p>{{ packageObj.primaryContent.budgetLine }}</p>
        </div>
        <div class="item-options column small-12 medium-3 large-3">
            <div class="option-list row">
                <div class="notes option column small-4 medium-12 large-12"><i class="fa fa-comments-o"></i>&thinsp;&nbsp;View notes</div>
                <div class="web-info option column small-4 medium-12 large-12"><i class="fa fa-desktop"></i>&thinsp;&nbsp;Web info</div>
                <div class="print-info option column small-4 medium-12 large-12"><i class="fa fa-newspaper-o"></i>&thinsp;&nbsp;Print info</div>
            </div>
        </div>
    </div>
    <div class="clearer"></div>
</div>
{% if packageObj.additionalContent|length > 0 %}
<div class="extra-sheet">
    <ul class="related-content">
        {% for item in additionalWithTypeMetas %}
            {% include "package-item-additionalcontent" %}
        {% endfor %}
    </ul>
</div>
{% endif %}