@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica');

.brand {
	font-family: 'IM Fell DW Pica';
	font-size: 40px;
}


#header a.brand:hover {
	color: #79AEC8;
}

.blink {
  animation: blinker 1s cubic-bezier(0, 0, 0,1) infinite alternate;
}

@keyframes blinker {
  from { opacity: 0; }
  to { opacity: 1; }
}
