@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';
.center-content{
	margin:10px auto 20px;
	max-width: 400px;
	h1{
		font-family: 'Bungee Shade', cursive;
		font-size: 48px;
		text-align: center;
	}
	h4{
		text-align:center;
		font-size: 14px;
	}
}

.last-added{
	background-color: #E0F2F1;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	overflow: hidden;
	margin: 20px 0 30px;
	h3{
		font-style: italic;
		background-color: #004D40;
		color:white;
		padding:10px 20px;
		max-width:100px;
		margin:0 10px 0 0;
		float:left;
			
	}
	div{
		padding:5px 0;
		display: inline-block;
		float:left;
		font-size: 16px;
		font-style: italic;
		line-height: 62px;
		img{
			height:62px;
			float:left;
			margin-right: 10px;
		}
	}
	div.add-staff{
		float:right;
		background-color: #004D40;
		font-size: 44px;
    	padding: 5px 12px;
    	
		a{
			color:white;
			transition:all .2s;
			&:hover{
				color:orange;
			}
			
		}
	}
	img{
		border-radius: 50px;
	}
}

input.search{
	width:100%;
	font-size: 22px;
	border:0;
	border-bottom: 3px solid grey;
	background-color: #eee;
	padding:5px 10px;
	margin: 10px 0;
}

.staffer-row{
	padding:5px;
	font-size: 18px;
	&:hover{
		background-color: rgba(0,0,0,.1);
	}
	img{
		border-radius:50%;
		max-height: 40px;
	}	
	a{
		text-align: right;
		margin-right: 5px;
	}
	div{
		display:inline-block;
		&.profile-img{
			width:40px;
		}
		&.profile-links{
			width:80px;
			text-align: right;
		}
		&.name{
			width:calc(100% - 130px);
			padding-left: 10px;
		}

	}
}

.errorlist{
	background-color: #db3236;
	padding:5px;
	color:white;
}

input{
	width:100%;
	padding:5px;
	&[type="checkbox"]{
		width:auto;
		font-style: 28px;
	}
}
.fa-check{
	color: green;
	width:25px;
	margin-right: 5px;
}
.fa-times{
	width:25px;
	color:red;
	margin-right: 5px;
}
#rescrape{
	text-align:right;
}

.right-align{
	text-align: right;
}

.btn.btn-sm{
	border:1px solid lightgrey;
	background-color: white;
	color:lightgrey;
	&:hover{
		color:grey;
		border:1px solid grey;
	}
}

#api-link{
	color:lightgrey;
	font-size: 24px;
	vertical-align:middle;
    margin-right: -25px;
    margin-left: -10px;
	&:hover{
		color:orange;
	}
}