<div id="search-box" class="center-content row">
    <form action="" method="get">
        <div class="search-text-field column small-12 medium-12 large-12">
            <div class="search-box-label"><i class="material-icons">search</i></div>
            <input id="find-item-search-box" name="find-item-search-box" type="text" placeholder="Search all items" />
            <button class="btn btn-flat btn-primary has-js" type="submit" name="submit" value="_search"><i class="material-icons">arrow_forward</i></button>
        </div>

        <div class="search-help-blocks column small-12 medium-12 large-12">
            <div class="help-block">You can search on budget lines, slugs and editor/author&nbsp;names.</div>
            <div class="help-block">We&rsquo;ll show all results, whether the match is on primary or additional&nbsp;content.</div>
        </div>
    </form>
</div>
<div id="search-results" class="center-content"></div>
