<div id="search-box" class="center-content row{% if initialIsBlank %} hidden{% endif %}">
    <form id="search-form" action="" method="get">
        <div class="search-text-field column small-12 medium-12 large-12">
            <div class="search-box-label"><i class="material-icons">search</i></div>
            <input id="find-item-search-box" name="q" type="text" placeholder="Search all items" autocomplete="off" />
            <div class="clear-trigger"><i class="material-icons">close</i></div>
            <button class="btn btn-flat btn-primary has-js" type="submit"><i class="material-icons">arrow_forward</i></button>
        </div>

        <div class="search-help-blocks column small-12 medium-12 large-12">
            <div class="help-block">You can search on budget lines, slugs and editor/author&nbsp;names.</div>
            <div class="help-block">We&rsquo;ll show all results, whether the match is on primary or additional&nbsp;content.</div>
        </div>
    </form>
</div>
<div id="search-results" class="center-content">
    <div class="loading-label">
        <svg class="im-spinner" width="42px" height="42px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        <p>Loading results...</p>
    </div>
</div>
