<!DOCTYPE html>
<html lang="en" class="no-js">
    <head prefix='og: http://ogp.me/ns#'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DMN Budget</title>

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon-premium.ico" />

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,700italic,500italic' rel='stylesheet' type='text/css'>

        <link href="css/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <script async src="js/main.js"></script>

        <script type="text/javascript">
            window.currentUser = JSON.parse('{{ user|safe }}');
        </script>
    </body>
</html>