/// Applies the micro clearfix hack popularized by Nicolas Gallagher.
// Include this mixin on a container if its children are all floated, to give
// the container a proper height.
/// @link http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}


// Global styles

body {
    background-color: $page-background-color;
    color: $base-text-color;
}

h1, h2 {
    color: $base-text-color;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
}


.clearer {
    @include clearfix;
}

#navigation {
    background-color: $hat-background-color;
    color: $hat-text-color;
    padding: 0;

    .navigation-inner {
        @include clearfix;

        height: 5rem;
        margin: 0 auto;
        padding: 0.3rem 0.75rem;

        /* IE10+ */
        background-image: -ms-linear-gradient(top left, #0185D3 0%, #036DAB 70%);
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top left, #0185D3 0%, #036DAB 70%);
        /* Opera */
        background-image: -o-linear-gradient(top left, #0185D3 0%, #036DAB 70%);
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0185D3), color-stop(70, #036DAB));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top left, #0185D3 0%, #036DAB 70%);
        /* W3C Markup */
        background-image: linear-gradient(to bottom right, #0185D3 0%, #036DAB 70%);
        /* IE <10 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0185D3', endColorstr='#FF036DAB', GradientType=1);

        #logo-holder {
            .masthead {
                box-sizing: border-box;
                display: block;
                height: 1rem;
                margin: 0.3rem 0 0 1.5rem;
                opacity: 0.7;
                padding: 0;
            }

            .budget-wordmark {
                box-sizing: border-box;
                display: block;
                height: 2.5rem;
                margin: 0.4rem 0 0.25rem 1.5rem;
                padding: 0;
            }
        }

        #user-info-holder {
            font-weight: 500;
            height: 4.4rem;
            line-height: 1.9rem;
            padding: 2rem 1rem 0 0.5rem;
        }
    }

    .neon {
        color: $neon-color;
    }
}

.center-content {
    margin: 0 auto;
    max-width: $max-content-width;
    padding: 20px 10px;
}

#package-list {
    padding-top: 0;

    .package-empty-view {
        font-family: 'Roboto', sans-serif;
        margin: 18px 6.33333% 0;
        width: 87.33334%;

        h3 {
            color: #3C3C3C;
            font-family: 'Roboto', sans-serif;
            font-size: 27px;
            font-weight: 700;
            line-height: 40px;
            margin: 0 0 3px;
        }
        p {
            color: #616161;
            font-size: 14px;
            line-height: 24px;
        }
    }
}