$page-background-color: #EEEEEE;
$base-text-color: #3C3C3C;

$hat-background-color: #3C3C3C;
$hat-text-color: #FFFFFF;

$neon-color: #74F5A9;

$max-content-width: 800px;

$mf-delete-action-color: #D9534F;
$mf-save-action-color: #0185D3;

@if not variable-exists(offline) {
    $offline: false;
}
