{% extends "base.html" %}

{% block head %}
<style>
.container {
  font-family: 'Raleway',sans-serif;
  padding-top: 25px;
  font-size: 16px;
  line-height: 23px;
}
.container h1 {
  font-weight: bold;
  color: gray;
  font-size: 30px;
}
.container .messages {
  margin: 15px 0;
}
.container a {
  font-weight: bold;
  text-decoration: underline;
  color: initial;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Login error</h1>
  <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  <p><a href="{% url "social:begin" "google-oauth2" %}">Retry login <i class="fa fa-caret-right"></i></a></p>
</div>
{% endblock %}
